name: Supper-Linter

on: push

permissions:
  contents: read
  statuses: write

concurrency:
  group: super-lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  super-lint:
    name: Lint code base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Super-Linter
        uses: super-linter/super-linter@v7.1.0
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
